#root {
  margin: 0 auto;
  text-align: center;
  height: 66.7vh;
  width: 100vw;
}

.gearIndicator {
    color: white; 
    font-size: 10rem; 
    text-align: center; 
    margin-bottom: 0; 
    padding-bottom: 0;
}

.recommendedGear {
    color: black; 
    font-size: 4rem; 
    text-align: center; 
    background-color: red; 
    margin-bottom: 0; 
    width: min-content;
    padding: 3px 10px;
}

.recommendedGearOuter {
    display: flex;
    justify-content: center;
    width: 100%
}

.miscIndicator {
    color: white; 
    font-size: 3rem; 
    text-align: center;
}

.smallFont {
    font-size: 2rem;
}